*{
    font-family: 'Inter', sans-serif;
}

.swiper-button-prev,
.swiper-button-next{
    width: 40px !important;
    height: 40px !important;
    background-color: rgb(225, 225, 225);
    color: black !important;

}

.swiper-button-prev{
    position: absolute !important;
    bottom: 0px;
    left: 40%;
}